In [1]:
#import libraries
import pandas as pd

In [2]:
Goal4 = pd.read_csv('Goal4.csv')
Goal4 = Goal4.loc[:, ~Goal4.columns.str.contains('^Unnamed')]

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (1,9,16,17,19,21,23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
Goal4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191762 entries, 0 to 191761
Data columns (total 26 columns):
Goal                 191762 non-null int64
Target               191762 non-null object
Indicator            191762 non-null object
SeriesCode           191762 non-null object
SeriesDescription    191762 non-null object
GeoAreaCode          191762 non-null int64
GeoAreaName          191762 non-null object
TimePeriod           191762 non-null int64
Value                179570 non-null float64
Time_Detail          191762 non-null object
TimeCoverage         0 non-null float64
UpperBound           0 non-null float64
LowerBound           0 non-null float64
BasePeriod           2276 non-null float64
Source               191762 non-null object
GeoInfoUrl           0 non-null float64
FootNote             14812 non-null object
Age                  481 non-null object
Education level      173883 non-null object
Location             112851 non-null object
Nature               191762 non-null object
Quantile             136375 non-null object
Reporting Type       191762 non-null object
Sex                  142933 non-null object
Type of skill        15864 non-null object
Units                191762 non-null object
dtypes: float64(6), int64(3), object(17)
memory usage: 38.0+ MB

In [4]:
Goal4.columns = Goal4.columns.str.lower()

In [5]:
Goal4.columns

Index(['goal', 'target', 'indicator', 'seriescode', 'seriesdescription',
       'geoareacode', 'geoareaname', 'timeperiod', 'value', 'time_detail',
       'timecoverage', 'upperbound', 'lowerbound', 'baseperiod', 'source',
       'geoinfourl', 'footnote', 'age', 'education level', 'location',
       'nature', 'quantile', 'reporting type', 'sex', 'type of skill',
       'units'],
      dtype='object')

In [6]:
Goal4.drop(columns = ['goal', 'timecoverage', 'upperbound', 'lowerbound', 'geoinfourl', 'reporting type', 'time_detail', 'geoareacode', 'source', 'seriesdescription'], inplace=True)

In [8]:
Goal4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191762 entries, 0 to 191761
Data columns (total 16 columns):
target             191762 non-null object
indicator          191762 non-null object
seriescode         191762 non-null object
geoareaname        191762 non-null object
timeperiod         191762 non-null int64
value              179570 non-null float64
baseperiod         2276 non-null float64
footnote           14812 non-null object
age                481 non-null object
education level    173883 non-null object
location           112851 non-null object
nature             191762 non-null object
quantile           136375 non-null object
sex                142933 non-null object
type of skill      15864 non-null object
units              191762 non-null object
dtypes: float64(2), int64(1), object(13)
memory usage: 23.4+ MB

## Filter and work on the country of focus

#### These countries can be spelt differently sometimes in the dataset (Example Congo Dem. Rep. can also be spelt out as Congo Democratic Republic)

In [ ]:
#Country of focus
countries = ['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Azerbaijan', 'Bangladesh', 'Belarus', 'Belize', 'Benin', 'Bhutan','Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo','Congo, Democratic Republic', 'Costa Rica', 'Croatia', "CÃ´te d'Ivoire", 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Eswatini', 'Ethiopia', 'Fiji', 'Gabon', 'Gambia', 'Georgia', 'Ghana', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'India', 'Indonesia', 'Iran (Islamic Republic of)', 'Iraq', 'Jamaica', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kyrgyzstan', "Lao People's Democratic Republic", 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia (Federated States of)','Moldova', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Romania', 'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'Sao Tome and Principe', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan', 'Sri Lanka', 'Sudan', 'Suriname', 'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Republic of Tanzania', 'Uruguay', 'Uzbekistan', 'Vanuatu','Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

# Random Forest

In [1]:
import numpy as np
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import pandas as pd
%matplotlib inline

In [2]:
features = pd.read_csv('modified_imputed_data.csv')

/usr/lib/python3/dist-packages/IPython/core/interactiveshell.py:3062: DtypeWarning: Columns (212) have mixed types. Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
#features = features.dropna()
#features.isnull().values.any()
features.shape

(141530, 214)

In [4]:
round(features.describe(), 2)

,Unnamed: 0,Unnamed: 0.1,Value,target_variable,SeriesCode_DC_TOF_SCHIPSL,SeriesCode_SE_ACC_HNDWSH,SeriesCode_SE_ACS_CMPTR,SeriesCode_SE_ACS_ELECT,SeriesCode_SE_ACS_H2O,SeriesCode_SE_ACS_INTNT,...,Type of skill_NUME,Type of skill_PCPR,Type of skill_SKILL_MATH,Type of skill_SKILL_READ,Type of skill_SOFT,Type of skill_TRAF,Units_CON_USD,Units_PERCENT,Units_Ratio,TimePeriod
count,141530.00,141530.00,141530.00,141530.00,141530.00,141530.00,141530.00,141530.00,141530.00,141530.00,...,141530.00,141530.00,141530.00,141530.00,141530.00,141530.00,141530.00,141530.00,141530.00,120979.00
mean,74427.80,74427.80,0.36,3.35,0.01,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.01,0.01,0.00,0.00,0.01,0.60,0.39,2009.97
std,43507.79,43507.79,0.38,3.37,0.10,0.05,0.06,0.07,0.05,0.05,...,0.02,0.05,0.12,0.11,0.05,0.05,0.10,0.49,0.49,5.11
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2000.00
25%,36689.25,36689.25,0.01,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,2006.00
50%,74284.50,74284.50,0.21,2.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,2010.00
75%,111286.75,111286.75,0.74,7.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,1.00,1.00,2014.00
max,152206.00,152206.00,1.00,8.00,1.00,1.00,1.00,1.00,1.00,1.00,...,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,1.00,2020.00

In [5]:
features.head()

,Unnamed: 0,Unnamed: 0.1,Value,target_variable,SeriesCode_DC_TOF_SCHIPSL,SeriesCode_SE_ACC_HNDWSH,SeriesCode_SE_ACS_CMPTR,SeriesCode_SE_ACS_ELECT,SeriesCode_SE_ACS_H2O,SeriesCode_SE_ACS_INTNT,...,Type of skill_PCPR,Type of skill_SKILL_MATH,Type of skill_SKILL_READ,Type of skill_SOFT,Type of skill_TRAF,Units_CON_USD,Units_PERCENT,Units_Ratio,Footnote,TimePeriod
0,0,0,0.110,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,2013.0
1,1,1,0.130,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,NaN,2013.0
2,2,2,0.215,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,NaN,2016.0
3,3,3,0.225,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,NaN,2016.0
4,4,4,0.220,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,NaN,2016.0

In [6]:
f = features.drop('Unnamed: 0', axis = 1)
f = f.drop('Unnamed: 0.1', axis = 1)
f.head()

,Value,target_variable,SeriesCode_DC_TOF_SCHIPSL,SeriesCode_SE_ACC_HNDWSH,SeriesCode_SE_ACS_CMPTR,SeriesCode_SE_ACS_ELECT,SeriesCode_SE_ACS_H2O,SeriesCode_SE_ACS_INTNT,SeriesCode_SE_ACS_SANIT,SeriesCode_SE_ADT_ACTS,...,Type of skill_PCPR,Type of skill_SKILL_MATH,Type of skill_SKILL_READ,Type of skill_SOFT,Type of skill_TRAF,Units_CON_USD,Units_PERCENT,Units_Ratio,Footnote,TimePeriod
0,0.110,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,2013.0
1,0.130,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,NaN,2013.0
2,0.215,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,NaN,2016.0
3,0.225,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,NaN,2016.0
4,0.220,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,NaN,2016.0

In [22]:
test = f[f['TimePeriod'] >= 2017]
train = f[f['TimePeriod'] < 2017]
test.to_csv("test.csv")
print(test.shape)
print(train.shape)
test.head()

(12556, 212)
(108423, 212)

,Value,target_variable,SeriesCode_DC_TOF_SCHIPSL,SeriesCode_SE_ACC_HNDWSH,SeriesCode_SE_ACS_CMPTR,SeriesCode_SE_ACS_ELECT,SeriesCode_SE_ACS_H2O,SeriesCode_SE_ACS_INTNT,SeriesCode_SE_ACS_SANIT,SeriesCode_SE_ADT_ACTS,...,Type of skill_PCPR,Type of skill_SKILL_MATH,Type of skill_SKILL_READ,Type of skill_SOFT,Type of skill_TRAF,Units_CON_USD,Units_PERCENT,Units_Ratio,Footnote,TimePeriod
32,0.580419,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,NaN,2018.0
33,0.477643,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,NaN,2018.0
34,0.559019,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,2018.0
35,0.594250,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,2018.0
36,0.576272,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,2018.0

In [8]:
test_labels = test['target_variable']
test_features = test.drop('Footnote', axis = 1)
#test_features = test_features.drop('Indicator', axis = 1)
test_features = test_features.drop('target_variable', axis = 1)

In [9]:
train_labels = train['target_variable']
train_features = train.drop('Footnote', axis = 1)
#train_features = train_features.drop('Indicator', axis = 1)
train_features = train_features.drop('target_variable', axis = 1)

In [10]:
print(test_features.shape)

(12556, 210)

In [11]:
round(test_labels.describe(), 2)

count    12556.00
mean         3.80
std          3.38
min          0.00
25%          0.00
50%          6.00
75%          7.00
max          8.00
Name: target_variable, dtype: float64

In [12]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (108423, 210)
Training Labels Shape: (108423,)
Testing Features Shape: (12556, 210)
Testing Labels Shape: (12556,)

In [13]:
# Instantiate random forest and train on new features
from sklearn.ensemble import RandomForestClassifier

### TODO ###
rf_exp = RandomForestClassifier(n_estimators= 200, random_state=19, n_jobs=-1)
rf_exp.fit(train_features, train_labels)

RandomForestClassifier(n_estimators=200, n_jobs=-1, random_state=19)

In [14]:
# Make predictions on test data
from sklearn.metrics import accuracy_score

predictions = rf_exp.predict(test_features)
print(predictions)
accuracy_score(test_labels, predictions)

[0. 0. 0. ... 8. 8. 8.]

1.0

In [15]:
# creating a confusion matrix
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(test_labels, predictions)

In [16]:
cm

array([[5394,    0,    0,    0,    0,    0],
       [   0,  139,    0,    0,    0,    0],
       [   0,    0,  317,    0,    0,    0],
       [   0,    0,    0, 1071,    0,    0],
       [   0,    0,    0,    0, 5502,    0],
       [   0,    0,    0,    0,    0,  133]])

In [19]:
# Get numerical feature importances
### TODO ###
# List of features for later use
feature_list = list(train_features.columns)
#print(feature_list)

importances = list(rf_exp.feature_importances_)
#print(importances)

# List of tuples with variable and importance
feature_importances = [(feature, round(importance, 2)) for feature, importance in zip(feature_list, importances)]

# Sort the feature importances by most important first
feature_importances = sorted(feature_importances, key = lambda x: x[1], reverse = True)

# Print out the feature and importances 
[print('Variable: {:20} Importance: {}'.format(*pair)) for pair in feature_importances];

Variable: SeriesCode_SE_TOT_CPLR Importance: 0.2
Variable: Units_Ratio          Importance: 0.16
Variable: Units_PERCENT        Importance: 0.15
Variable: Value                Importance: 0.14
Variable: SeriesCode_SE_ALP_CPLR Importance: 0.04
Variable: SeriesCode_SE_TRA_GRDL Importance: 0.04
Variable: SeriesCode_SE_AGP_CPRA Importance: 0.03
Variable: SeriesCode_SE_PRE_PARTN Importance: 0.03
Variable: Nature_C             Importance: 0.03
Variable: Nature_E             Importance: 0.03
Variable: SeriesCode_SE_ADT_ACTS Importance: 0.02
Variable: SeriesCode_SE_AWP_CPRA Importance: 0.02
Variable: SeriesCode_DC_TOF_SCHIPSL Importance: 0.01
Variable: SeriesCode_SE_ADT_EDUCTRN Importance: 0.01
Variable: SeriesCode_SE_TOT_PRFL Importance: 0.01
Variable: Location_ALLAREA     Importance: 0.01
Variable: Location_RURAL       Importance: 0.01
Variable: Location_URBAN       Importance: 0.01
Variable: Units_CON_USD        Importance: 0.01
Variable: SeriesCode_SE_ACC_HNDWSH Importance: 0.0
Variable: SeriesCode_SE_ACS_CMPTR Importance: 0.0
Variable: SeriesCode_SE_ACS_ELECT Importance: 0.0
Variable: SeriesCode_SE_ACS_H2O Importance: 0.0
Variable: SeriesCode_SE_ACS_INTNT Importance: 0.0
Variable: SeriesCode_SE_ACS_SANIT Importance: 0.0
Variable: SeriesCode_SE_ADT_FUNS Importance: 0.0
Variable: SeriesCode_SE_DEV_ONTRK Importance: 0.0
Variable: SeriesCode_SE_GPI_ICTS Importance: 0.0
Variable: SeriesCode_SE_GPI_PART Importance: 0.0
Variable: SeriesCode_SE_GPI_PTNPRE Importance: 0.0
Variable: SeriesCode_SE_GPI_TCAQ Importance: 0.0
Variable: SeriesCode_SE_IMP_FPOF Importance: 0.0
Variable: SeriesCode_SE_INF_DSBL Importance: 0.0
Variable: SeriesCode_SE_LGP_ACHI Importance: 0.0
Variable: SeriesCode_SE_NAP_ACHI Importance: 0.0
Variable: SeriesCode_SE_TOT_GPI Importance: 0.0
Variable: SeriesCode_SE_TOT_RUPI Importance: 0.0
Variable: SeriesCode_SE_TOT_SESPI Importance: 0.0
Variable: GeoAreaName_Afghanistan Importance: 0.0
Variable: GeoAreaName_Albania  Importance: 0.0
Variable: GeoAreaName_Algeria  Importance: 0.0
Variable: GeoAreaName_Angola   Importance: 0.0
Variable: GeoAreaName_Antigua and Barbuda Importance: 0.0
Variable: GeoAreaName_Argentina Importance: 0.0
Variable: GeoAreaName_Armenia  Importance: 0.0
Variable: GeoAreaName_Azerbaijan Importance: 0.0
Variable: GeoAreaName_Bangladesh Importance: 0.0
Variable: GeoAreaName_Belarus  Importance: 0.0
Variable: GeoAreaName_Belize   Importance: 0.0
Variable: GeoAreaName_Benin    Importance: 0.0
Variable: GeoAreaName_Bhutan   Importance: 0.0
Variable: GeoAreaName_Bosnia and Herzegovina Importance: 0.0
Variable: GeoAreaName_Botswana Importance: 0.0
Variable: GeoAreaName_Brazil   Importance: 0.0
Variable: GeoAreaName_Bulgaria Importance: 0.0
Variable: GeoAreaName_Burkina Faso Importance: 0.0
Variable: GeoAreaName_Burundi  Importance: 0.0
Variable: GeoAreaName_Cabo Verde Importance: 0.0
Variable: GeoAreaName_Cambodia Importance: 0.0
Variable: GeoAreaName_Cameroon Importance: 0.0
Variable: GeoAreaName_Central African Republic Importance: 0.0
Variable: GeoAreaName_Chad     Importance: 0.0
Variable: GeoAreaName_Chile    Importance: 0.0
Variable: GeoAreaName_China    Importance: 0.0
Variable: GeoAreaName_Colombia Importance: 0.0
Variable: GeoAreaName_Comoros  Importance: 0.0
Variable: GeoAreaName_Congo    Importance: 0.0
Variable: GeoAreaName_Costa Rica Importance: 0.0
Variable: GeoAreaName_Croatia  Importance: 0.0
Variable: GeoAreaName_CÃ´te d'Ivoire Importance: 0.0
Variable: GeoAreaName_Democratic Republic of the Congo Importance: 0.0
Variable: GeoAreaName_Djibouti Importance: 0.0
Variable: GeoAreaName_Dominica Importance: 0.0
Variable: GeoAreaName_Dominican Republic Importance: 0.0
Variable: GeoAreaName_Ecuador  Importance: 0.0
Variable: GeoAreaName_Egypt    Importance: 0.0
Variable: GeoAreaName_El Salvador Importance: 0.0
Variable: GeoAreaName_Equatorial Guinea Importance: 0.0
Variable: GeoAreaName_Eritrea  Importance: 0.0
Variable: GeoAreaName_Eswatini Importance: 0.0
Variable: GeoAreaName_Ethiopia Importance: 0.0
Variable: GeoAreaName_Fiji     Importance: 0.0
Variable: GeoAreaName_Gabon    Importance: 0.0
Variable: GeoAreaName_Gambia   Importance: 0.0
Variable: GeoAreaName_Georgia  Importance: 0.0
Variable: GeoAreaName_Ghana    Importance: 0.0
Variable: GeoAreaName_Grenada  Importance: 0.0
Variable: GeoAreaName_Guatemala Importance: 0.0
Variable: GeoAreaName_Guinea   Importance: 0.0
Variable: GeoAreaName_Guinea-Bissau Importance: 0.0
Variable: GeoAreaName_Guyana   Importance: 0.0
Variable: GeoAreaName_Haiti    Importance: 0.0
Variable: GeoAreaName_Honduras Importance: 0.0
Variable: GeoAreaName_India    Importance: 0.0
Variable: GeoAreaName_Indonesia Importance: 0.0
Variable: GeoAreaName_Iran (Islamic Republic of) Importance: 0.0
Variable: GeoAreaName_Iraq     Importance: 0.0
Variable: GeoAreaName_Jamaica  Importance: 0.0
Variable: GeoAreaName_Jordan   Importance: 0.0
Variable: GeoAreaName_Kazakhstan Importance: 0.0
Variable: GeoAreaName_Kenya    Importance: 0.0
Variable: GeoAreaName_Kiribati Importance: 0.0
Variable: GeoAreaName_Kosovo   Importance: 0.0
Variable: GeoAreaName_Kyrgyzstan Importance: 0.0
Variable: GeoAreaName_Lao People's Democratic Republic Importance: 0.0
Variable: GeoAreaName_Lebanon  Importance: 0.0
Variable: GeoAreaName_Lesotho  Importance: 0.0
Variable: GeoAreaName_Liberia  Importance: 0.0
Variable: GeoAreaName_Libya    Importance: 0.0
Variable: GeoAreaName_Madagascar Importance: 0.0
Variable: GeoAreaName_Malawi   Importance: 0.0
Variable: GeoAreaName_Malaysia Importance: 0.0
Variable: GeoAreaName_Maldives Importance: 0.0
Variable: GeoAreaName_Mali     Importance: 0.0
Variable: GeoAreaName_Marshall Islands Importance: 0.0
Variable: GeoAreaName_Mauritania Importance: 0.0
Variable: GeoAreaName_Mauritius Importance: 0.0
Variable: GeoAreaName_Mexico   Importance: 0.0
Variable: GeoAreaName_Micronesia Importance: 0.0
Variable: GeoAreaName_Micronesia (Federated States of) Importance: 0.0
Variable: GeoAreaName_Mongolia Importance: 0.0
Variable: GeoAreaName_Montenegro Importance: 0.0
Variable: GeoAreaName_Morocco  Importance: 0.0
Variable: GeoAreaName_Mozambique Importance: 0.0
Variable: GeoAreaName_Myanmar  Importance: 0.0
Variable: GeoAreaName_Namibia  Importance: 0.0
Variable: GeoAreaName_Nauru    Importance: 0.0
Variable: GeoAreaName_Nepal    Importance: 0.0
Variable: GeoAreaName_Nicaragua Importance: 0.0
Variable: GeoAreaName_Niger    Importance: 0.0
Variable: GeoAreaName_Nigeria  Importance: 0.0
Variable: GeoAreaName_North Macedonia Importance: 0.0
Variable: GeoAreaName_Pakistan Importance: 0.0
Variable: GeoAreaName_Palau    Importance: 0.0
Variable: GeoAreaName_Panama   Importance: 0.0
Variable: GeoAreaName_Papua New Guinea Importance: 0.0
Variable: GeoAreaName_Paraguay Importance: 0.0
Variable: GeoAreaName_Peru     Importance: 0.0
Variable: GeoAreaName_Philippines Importance: 0.0
Variable: GeoAreaName_Poland   Importance: 0.0
Variable: GeoAreaName_Romania  Importance: 0.0
Variable: GeoAreaName_Russian Federation Importance: 0.0
Variable: GeoAreaName_Rwanda   Importance: 0.0
Variable: GeoAreaName_Saint Kitts and Nevis Importance: 0.0
Variable: GeoAreaName_Saint Lucia Importance: 0.0
Variable: GeoAreaName_Saint Vincent and the Grenadines Importance: 0.0
Variable: GeoAreaName_Samoa    Importance: 0.0
Variable: GeoAreaName_Sao Tome and Principe Importance: 0.0
Variable: GeoAreaName_Senegal  Importance: 0.0
Variable: GeoAreaName_Serbia   Importance: 0.0
Variable: GeoAreaName_Seychelles Importance: 0.0
Variable: GeoAreaName_Sierra Leone Importance: 0.0
Variable: GeoAreaName_Solomon Islands Importance: 0.0
Variable: GeoAreaName_Somalia  Importance: 0.0
Variable: GeoAreaName_South Africa Importance: 0.0
Variable: GeoAreaName_South Sudan Importance: 0.0
Variable: GeoAreaName_Sri Lanka Importance: 0.0
Variable: GeoAreaName_Sudan    Importance: 0.0
Variable: GeoAreaName_Suriname Importance: 0.0
Variable: GeoAreaName_Syrian Arab Republic Importance: 0.0
Variable: GeoAreaName_Tajikistan Importance: 0.0
Variable: GeoAreaName_Thailand Importance: 0.0
Variable: GeoAreaName_Timor-Leste Importance: 0.0
Variable: GeoAreaName_Togo     Importance: 0.0
Variable: GeoAreaName_Tonga    Importance: 0.0
Variable: GeoAreaName_Trinidad and Tobago Importance: 0.0
Variable: GeoAreaName_Tunisia  Importance: 0.0
Variable: GeoAreaName_Turkey   Importance: 0.0
Variable: GeoAreaName_Turkmenistan Importance: 0.0
Variable: GeoAreaName_Tuvalu   Importance: 0.0
Variable: GeoAreaName_Uganda   Importance: 0.0
Variable: GeoAreaName_Ukraine  Importance: 0.0
Variable: GeoAreaName_United Republic of Tanzania Importance: 0.0
Variable: GeoAreaName_Uruguay  Importance: 0.0
Variable: GeoAreaName_Uzbekistan Importance: 0.0
Variable: GeoAreaName_Vanuatu  Importance: 0.0
Variable: GeoAreaName_Yemen    Importance: 0.0
Variable: GeoAreaName_Zambia   Importance: 0.0
Variable: GeoAreaName_Zimbabwe Importance: 0.0
Variable: Education level_GRAD23 Importance: 0.0
Variable: Education level_LOWSEC Importance: 0.0
Variable: Education level_PREPRI Importance: 0.0
Variable: Education level_PRIMAR Importance: 0.0
Variable: Education level_SECOND Importance: 0.0
Variable: Education level_UPPSEC Importance: 0.0
Variable: Education level__T   Importance: 0.0
Variable: Nature_CA            Importance: 0.0
Variable: Quantile_Q1          Importance: 0.0
Variable: Quantile_Q2          Importance: 0.0
Variable: Quantile_Q3          Importance: 0.0
Variable: Quantile_Q4          Importance: 0.0
Variable: Quantile_Q5          Importance: 0.0
Variable: Quantile__T          Importance: 0.0
Variable: Sex_BOTHSEX          Importance: 0.0
Variable: Sex_FEMALE           Importance: 0.0
Variable: Sex_MALE             Importance: 0.0
Variable: Type of skill_ARSP   Importance: 0.0
Variable: Type of skill_CMFL   Importance: 0.0
Variable: Type of skill_COPA   Importance: 0.0
Variable: Type of skill_EMAIL  Importance: 0.0
Variable: Type of skill_EPRS   Importance: 0.0
Variable: Type of skill_INST   Importance: 0.0
Variable: Type of skill_LITE   Importance: 0.0
Variable: Type of skill_NUME   Importance: 0.0
Variable: Type of skill_PCPR   Importance: 0.0
Variable: Type of skill_SKILL_MATH Importance: 0.0
Variable: Type of skill_SKILL_READ Importance: 0.0
Variable: Type of skill_SOFT   Importance: 0.0
Variable: Type of skill_TRAF   Importance: 0.0
Variable: TimePeriod           Importance: 0.0